<!-- Gmap -->
<div class="container" style="margin-top:30px;">
	<div ng-include='"templates/breadcumb.html"'></div>
	<div class="row">
		<div class="col-lg-12">
			<!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
			<iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126906.82516475373!2d106.97012699999998!3d-6.284977499999991!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e698c6900964f69%3A0xd00495351896398!2sKota+Bekasi%2C+Bekasi%2C+Jawa+Barat!5e0!3m2!1sid!2sid!4v1418274248524" width="600" height="450" frameborder="0" style="border:0"></iframe>
		</div>
	</div>
	<!-- /.row -->
</div><!-- /.container -->